@font-face {
    font-family: 'fraunces_144ptlight';
    src: url('/fonts/fraunces144pt-light-webfont.woff2') format('woff2'),
         url('/fonts/fraunces144pt-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'hk_grotesk';
    src: url('/fonts/hkgrotesk-bold-webfont.woff2') format('woff2'),
         url('/fonts/hkgrotesk-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'hk_grotesk';
    src: url('/fonts/hkgrotesk-bolditalic-webfont.woff2') format('woff2'),
         url('/fonts/hkgrotesk-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;

}




@font-face {
    font-family: 'hk_grotesk';
    src: url('/fonts/hkgrotesk-italic-webfont.woff2') format('woff2'),
         url('/fonts/hkgrotesk-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}




@font-face {
    font-family: 'hk_grotesk';
    src: url('/fonts/hkgrotesk-regular-webfont.woff2') format('woff2'),
         url('/fonts/hkgrotesk-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



section {
  padding-top:50px;
  padding-bottom:120px;
  margin-top:-10px;
  margin-bottom:-20px;
  margin-left:-10px;
  margin-right:-10px;
}

div {
  padding-top:20px;
  padding-bottom:120px;
  margin-top:-10px;
  margin-bottom:-20px;
  margin-left:-10px;
  margin-right:-10px;
}



a {
  color:#f0fff7;
}

p {
  font-family: 'hk_grotesk', sans-serif;
  font-size: 21px;
  line-height: 1.6;
  margin-left:auto;
  margin-right:auto;
  padding-left:8px;
  padding-right:8px;
  max-width:750px;
  color:#f0fff7;
}

h1 {
  font-family: 'fraunces_144ptlight', serif;
  font-weight: normal;
  font-style: normal;
  font-size: 56px;
  margin-left:auto;
  margin-right:auto;
  padding-left:8px;
  padding-right:8px;
  max-width:750px;
  color:#f0fff7;
}


/* Float not (positioned above) on screens that are equal to or less than 649px wide */
@media (max-width: 749px) {
  img {
    float: none;
    margin: auto;
    display: table;
    padding-bottom: 40px;
  }
}

/* Float left on screens that are equal to or greater than 650px wide */
@media (min-width: 750px) {
  img {
    float: left;
  }
}
